{% extends 'base.html' %}

{% block title%} 
    {% if user.is_authenticated %}
        profilo - {{user.username}}
    {% endif %}	
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <h3>Benvenuto Administrator</h3>
        {% else %}
            <h3>Benvenuto {{user.username}}</h3>
            <h4>Il tuo profilo</h4>


            <p>Username: {{user.username}}</p>
            <p>Nome: {{user.first_name}}</p>
            <p>Cognome: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Ultimo accesso: {{user.last_login}}</p>
            <p>Data di registrazione: {{user.date_joined}}</p>

            <!--<a href="/modificaProfilo/" class="btn btn-primary">Modifica profilo</a>-->
            <a href="/carrello" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <span>Carrello</span>
            </a>
            <a href="/cronologiaOrdini" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
                  <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                </svg>
                <span>Ordini</span>
            </a>
        {% endif %}
    {% else %}
        <h3>Non sei autenticato</h3>
        <a href="login/" class="btn btn-primary">Login</a>
        <a href="registration/" class="btn btn-primary">Registrati</a>
    {% endif %}
{% endblock %}